@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos extra para que parezca una App nativa */
body {
  background-color: #f3f4f6; /* Gris muy suave de fondo */
  -webkit-tap-highlight-color: transparent;
}

/* Ocultar barra de scroll pero permitir deslizar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}